/* 定义动画 */
@keyframes slideInFromRight {
    from {
      transform: translateY(50%);
      opacity: 0;
      scale: 0.8;
    }
    to {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes slideOutFromRight {
    from {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
      scale: 0.8;
      
    }
  }
  
  /* 应用动画 */
  .animate-slide-in {
    animation: slideInFromRight 0.5s ease forwards;
  }
  .animate-slide-out {
    animation: slideOutFromRight 0.5s ease forwards;
  }